.at-label {
  color: darkslategray;
  margin-left: 35px;
  margin-right: 10px;
}

.add-time-buton {
  background: none;
  color: aqua;
  border: none;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  margin-left: 20px;
}
