<app-time-scale-picker [control]="formGroup.controls.scalePicker"></app-time-scale-picker>

<label class="minutes">Minutes</label>


<ng-container *ngIf="formGroup.controls.scalePicker.getRawValue() === scaleNames.Hourly">
  <app-hourly-repetition-picker
    *ngFor="let formControl of formGroup.controls.repetitions.controls; let i = index"
    [control]="formControl"
    [removable]="isRemovable(i)"
    (removeClick$)="onRemoveClick(i)"
  ></app-hourly-repetition-picker>
</ng-container>

<ng-container *ngIf="formGroup.controls.scalePicker.getRawValue() === scaleNames.Daily">
  <app-daily-repetition-picker
    *ngFor="let formControl of formGroup.controls.repetitions.controls; let i = index"
    [control]="formControl"
    [removable]="isRemovable(i)"
    (removeClick$)="onRemoveClick(i)"
  ></app-daily-repetition-picker>
</ng-container>


<button class="add-minutes-button" (click)="add()">+ Add minutes</button>
